# Entornos virtuales
.venv
env
venv

# Archivos de control de versiones
.git
.gitignore

# Cachés y compilados
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info
.eggs
.mypy_cache
.pytest_cache
.poetry-cache

# Archivos del sistema o IDE
.DS_Store
*.swp
*.swo
.idea
.vscode

# Archivos temporales
*.log
*.tmp

# Directorios de salida
dist/
build/